body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    text-align: center;
}

header {
    align-items: center;
    background: gray;
    color: #ffffff;
    display: flex;
    height: 5rem;
    justify-content: center;
    width: 100vw;
}

span {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
}

#map {
    width: 66.6666%;
}

.aside {
    width: 33.3333%
}